.trafficCard {
  display: flex; flex-wrap: wrap; align-items: center;
  margin-top: 16px; padding: 8px 16px;
  background-color: $white; border-radius: 5px;
  cursor: pointer; transition: transform 0.2s ease-in-out;
  &:hover {
    transform: translateY(-5px);
  }
}
.trafficCard__header {display: flex; flex-basis: 40%;}
.trafficCard__content {
  display: flex; flex-basis: 55%; flex-wrap: wrap;
  margin-left: 4%;
}
.trafficCard__icon {
  margin-right: 8px;
  width: 32px; height: 32px;
}
.trafficCard__title, .trafficCard__message {
  display: flex; flex-basis: 100%;
  justify-content: center; text-align: center;
}

@media screen and (max-width: 600px) {
  .trafficCard__header {
    flex-basis: 100%;
    justify-content: center;
  }
  .trafficCard__content {
    flex-basis: 100%;
    margin: 8px 0 0 0;
  }
}


.trafficCard__collapse {
  height: 0;
  opacity: 0;
}
.trafficCard__container.isOpen .trafficCard__collapse {
  height: 100px;
  opacity: 1;
}


.cardList {
  margin-top: 16px;
  background: none; border: none;
}
.cardItem {
  margin-bottom: 16px;
  background-color: $white; border-radius: 5px;

  &.ant-collapse-item {border: none;}
  &#{&}#{&} .ant-collapse-header {padding: 0;}
}
.cardItem__header {
  display: flex; align-items: center; justify-content: space-between;
  padding: 8px 16px;

  @media screen and (max-width: 600px){
    flex-wrap: wrap;
  }
}
.cardItem__header-title {
  display: flex; align-items: center; min-width: 150px;

  span {margin-left: 8px; font-size: 20px; font-weight: 600;}
}
.cardItem__header-icon {
  width: 32px;
}
.cardItem__header-infos {
  width: 70%;
  @media screen and (max-width: 600px){
    width: 100%;
  }
}

.cardItem__timeline {
  margin: 5px 0 0 0;
}
.cardItem__timeline-item {
  padding-bottom: 5px;

  &.ant-timeline-item-last > .ant-timeline-item-content {min-height: auto;}
}

.cardItem__empty {
  display: flex; align-items: center; justify-content: center;
  min-height: 50px;
}